absl-py
aiohttp
anyio
appnope
argon2-cffi
astor
astunparse
async-timeout
async_generator
attrs
babel
backcall
blas
bleach
blinker
bottleneck
brotli
brotlipy
c-ares
ca-certificates
cachetools
certifi
cffi
chardet
charset-normalizer
click
cryptography
cycler
dataclasses
debugpy
decorator
defusedxml
entrypoints
fonttools
freetype
gast
giflib
google-auth
google-auth-oauthlib
google-pasta
grpc-cpp
grpcio
h5py
hdf5
icu
idna
importlib-metadata
intel-openmp
ipykernel
ipython
ipython_genutils
jedi
jinja2
joblib
jpeg
json5
jsonschema
jupyter_client
jupyter_core
jupyter_server
jupyterlab
jupyterlab_pygments
jupyterlab_server
keras-preprocessing
kiwisolver
krb5
lcms2
libcurl
libcxx
libedit
libev
libffi
libgfortran
libnghttp2
libpng
libprotobuf
libsodium
libssh2
libtiff
libwebp-base
llvm-openmp
lz4-c
markdown
markupsafe
matplotlib
matplotlib-base
matplotlib-inline
mistune
mkl
mkl-service
mkl_fft
mkl_random
multidict
munkres
nbclassic
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
notebook
numexpr
numpy
numpy-base
oauthlib
olefile
openjpeg
openssl
opt_einsum
packaging
pandas
pandoc
pandocfilters
parso
pexpect
pickleshare
pillow
pip
prometheus_client
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
pygments
pyjwt
pyopenssl
pyparsing
pyrsistent
pysocks
python
python-dateutil
python-flatbuffers
python_abi
pytz
pyu2f
pyzmq
re2
readline
requests
requests-oauthlib
requests-unixsocket
rsa
scikit-learn
scipy
send2trash
setuptools
six
snappy
sniffio
sqlite
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-base
tensorflow-estimator
termcolor
terminado
testpath
threadpoolctl
tk
tornado
traitlets
typing-extensions
typing_extensions
urllib3
wcwidth
webencodings
websocket-client
werkzeug
wheel
wrapt
xz
yarl
zeromq
zipp
zlib
zstd
