body,html {
    height: 100%;
    background-color: #fff;
  }
  .div-border{
    border-bottom: 0px solid #000 !important;
  }
  input[type="text"],input[type="password"],textarea{
    outline: none!important;
    box-shadow: none!important;
    background-color:transparent;
    border-left: 0px solid #000 !important;
    border-bottom: 2px solid #000 !important;
  }
  #login_bg{
    border:0px solid #000;
    background-color:#fff;
    /*box-shadow: 0 0 5px #383838;*/
  }
  #login_text{
    font-size:larger;
    font-weight: bolder;
    color:#000;
  }
  label{
    color:#535353;
    font-family:Helvetica;
    font-size:smaller;
  }
  #form_submit{
    border:2px solid #000!important;
    background-color:transparent;
    color:#000;
  }
  #forgot_my_password{
    color:#000;
    font-size:smaller;
  }